#premiere {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#deuxieme {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#troisieme {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#quatrieme {
    display: flex;
    flex-direction: column;

}

#total {
    display: flex;
    flex-direction: row;
}

.case {
    width: 21.875vw;
    height: 31.75vh;

}

#brad {
    background-color: #34ce57;
    color: white;
    line-height: 31.75vh;
    text-align: center;
}

#dley {
    background-color: #34ce57;
    color: white;
    line-height: 31.75vh;
    text-align: center;
}

#blog {
    background-color: #34ce57;
    color: white;
    line-height: 31.75vh;
    text-align: center;
}

#profile {
    background-color: #e0a800;
    color: white;
    line-height: 31.75vh;
    text-align: center;
}

#ex {
    background-color: #005cbf;
    color: white;
    line-height: 31.75vh;
    text-align: center;
}

#contact {
    background-color: #005cbf;
    color: white;
    line-height: 31.75vh;
    text-align: center;
}

#socilMenu {
    background-color: #fd7e14;
    color: white;
    line-height: 31.75vh;
    text-align: center;
}

#port {
    background-color: #fd7e14;
    color: white;
    line-height: 31.75vh;
    text-align: center;
}

#education {
    background-color: #c82333;
    color: white;
    line-height: 31.75vh;
    text-align: center;
}

#ima {
    width: 52.75vh;
    height: 80vh;
}

#plus {
    width: 3.125vw;

}

#moins {
    width: 3.125vw;

}

#resum {
    border: white solid;
}

#contac {
    border: white solid;
}

@media only screen and (max-width: 840px) {
    img {
        width: 3.125vw;
        height: 2.85vh;
    }

    body {
        width: 100%;
        height: 100%;
    }

    h1 {
        font-size: 16px;
    }

    .case {
        width: 21.87vw;
        height: 31.68vh;
    }
}

